.background-image {
    position: absolute;
    width: 1360px;
    height: 684px;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.38), rgba(255, 255, 255, 0.38));
    z-index: -1;
}

.background-image img {
    object-fit: cover;
}

.box1 {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0px;
    margin-left: auto;
    margin-right: auto;
    gap: 338px;
    width: 1320px;
    height: 127px;
}

/* humburger-menu */

#menuToggle {
    display: block;
    position: relative;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
}

#menuToggle a {
    text-decoration: none;
    color: #DFDDDD;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}

#menuToggle a:hover {
    color: #21468D;
    letter-spacing: 0.03em;
    transition: 0.3s linear;
}

#menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
    -webkit-touch-callout: none;
}

#menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #232323;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        opacity 0.55s ease;
}

#menuToggle span:first-child {
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
}

#menuToggle input:checked~span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #DFDDDD;
}

#menuToggle input:checked~span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked~span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
}

#menu {
    position: absolute;
    width: 260px;
    margin: -90px 0 0 -70px;
    padding-left: 70px;
    padding-top: 110px;
    padding-bottom: 18px;
    background: #000000;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

#menu li {
    padding: 10px 0;
    font-size: 14px;
}

#menuToggle input:checked~ul {
    transform: none;
}

/* humburger-menu */

.burger {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 528px;
    width: 760px;
    height: 32px;
}

.button-header {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 14px 30px;
    gap: 10px;
    width: 222px;
    height: 47px;
    background: #000000;
    border: 1px solid #000000;
    border-radius: 18px;
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
}

.button-header:hover {
    background: #FFFFFF;
    border: 1px solid#000000;
    border-radius: 18px;
    color: #000000;
    letter-spacing: 0.03em;
    transition: 0.3s linear;
}

.box2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 210px;
}

.language {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    width: 22px;
    height: 114px;
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
}

.logo-header {
    margin-left: 360px;
    width: 560px;
    height: 92px;
}

.button-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    background: #000000;
    border: 1px solid #000000;
    border-radius: 18px;
}

.text-button {
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    color: #FFFFFF;
}